Repository tbowman01/architect-resume, changes with the owners that .github/CODEOWNERS names for each.
All owners: @architect-resume-team, @security-team, @backend-team, @admin-team, @devops-team, @frontend-team, @docs-team, @qa-team

🏁 Session end checkpoint: session-20250815-234208
  .claude/checkpoints/summary-session-20250815-234208.md
  .claude/checkpoints/task-1755315107.json
  app/globals.css
Owners: @architect-resume-team

🏁 Session end checkpoint: session-20250815-234804
  .claude/checkpoints/summary-session-20250815-234804.md
  .claude/checkpoints/task-1755315786.json
  app/components/Blog.tsx
  app/components/ChatBot.tsx
  app/components/Navigation.tsx
  app/data/blog.ts
  app/page.tsx
  app/types/blog.ts
Owners: @architect-resume-team, @frontend-team

🏁 Session end checkpoint: session-20250815-235111
  .claude/checkpoints/summary-session-20250815-235111.md
  .claude/checkpoints/task-1755316145.json
Owners: @architect-resume-team

feat: Complete GitHub automation and template setup
  .claude/checkpoints/task-1755316615.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/template_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  .github/template-cleanup.yml
  .github/workflows/deploy.yml
  .github/workflows/github-pages.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
  .releaserc.json
  README.md
  TEMPLATE_INFO.md
  next.config.js
  package.json
Owners: @architect-resume-team, @security-team, @docs-team, @devops-team, @backend-team

🏁 Session end checkpoint: session-20250816-000649
  .claude/checkpoints/summary-session-20250816-000649.md
  README-old.md
Owners: @architect-resume-team

feat(chatbot): enhance AI responses with comprehensive conversation flow
  .claude/checkpoints/summary-session-20250816-000649.md
  .claude/checkpoints/task-1755317241.json
  README-old.md
  app/components/Blog.tsx
  app/components/ChatBot.tsx
Owners: @architect-resume-team, @frontend-team

🔖 Task checkpoint: {{user_prompt}} ...
  package-lock.json
Owners: @architect-resume-team, @backend-team

🏁 Session end checkpoint: session-20250820-125501
  .claude/checkpoints/summary-session-20250820-125501.md
  .claude/checkpoints/task-1755708870.json
Owners: @architect-resume-team

🏁 Session end checkpoint: session-20250820-130032
  .claude/checkpoints/summary-session-20250820-130032.md
  .claude/checkpoints/task-1755708938.json
Owners: @architect-resume-team

🔖 Task checkpoint: {{user_prompt}} ...
  .claude/checkpoints/task-1755709297.json
Owners: @architect-resume-team

🔖 Task checkpoint: {{user_prompt}} ...
  .claude/checkpoints/task-1755709615.json
Owners: @architect-resume-team

🏁 Session end checkpoint: session-20250820-131001
  .claude/checkpoints/summary-session-20250820-131001.md
  .claude/checkpoints/task-1755709796.json
Owners: @architect-resume-team

🔖 Checkpoint: Edit /home/tbowman/git/tbowman01/architect-resume/docs/E2B_INTEGRATION.md
  .claude/checkpoints/task-1755709835.json
  docs/E2B_INTEGRATION.md
Owners: @architect-resume-team, @docs-team

🔖 Checkpoint: Edit /home/tbowman/git/tbowman01/architect-resume/E2B_SANDBOX_REPORT.md
  .claude/checkpoints/1755710216.json
  .claude/checkpoints/1755710223.json
  E2B_SANDBOX_REPORT.md
Owners: @architect-resume-team

🏁 Session end checkpoint: session-20250820-131850
  .claude/checkpoints/1755710279.json
  .claude/checkpoints/1755710285.json
  .claude/checkpoints/summary-session-20250820-131850.md
  memory/memory-store.json
Owners: @architect-resume-team

🔖 Checkpoint: Edit /mnt/d/git/tbowman01/architect-resume/app/components/ChatBot.tsx
  app/components/ChatBot.tsx
Owners: @frontend-team

🔖 Checkpoint: Edit /mnt/d/git/tbowman01/architect-resume/app/components/Contact.tsx
  .claude/checkpoints/1755710489.json
  .claude/checkpoints/1755710496.json
  app/components/Contact.tsx
Owners: @architect-resume-team, @frontend-team

fix: Resolve ESLint errors for GitHub Pages deployment
  .claude/checkpoints/1755710516.json
  .claude/checkpoints/1755710521.json
Owners: @architect-resume-team

🔖 Checkpoint: Edit /mnt/d/git/tbowman01/architect-resume/next.config.js
  next.config.js
Owners: @architect-resume-team, @devops-team

🔖 Checkpoint: Edit /mnt/d/git/tbowman01/architect-resume/package.json
  .claude/checkpoints/1755710793.json
  .claude/checkpoints/1755710800.json
  package.json
Owners: @architect-resume-team, @backend-team

🏁 Session end checkpoint: session-20250820-133410
  .claude/checkpoints/1755711022.json
  .claude/checkpoints/1755711028.json
  .claude/checkpoints/summary-session-20250820-133410.md
Owners: @architect-resume-team

🏁 Session end checkpoint: session-20250820-141343
  .claude/checkpoints/summary-session-20250820-141343.md
  .claude/checkpoints/task-1755713617.json
Owners: @architect-resume-team

🔖 Checkpoint: Edit /mnt/d/git/tbowman01/architect-resume/package.json
  .claude/checkpoints/task-1755714106.json
  package.json
Owners: @architect-resume-team, @backend-team

chore(deps): Update dependencies to latest minor versions
  package.json
Owners: @architect-resume-team, @backend-team

🔖 Task checkpoint: {{user_prompt}} ...
  .claude/checkpoints/1755714358.json
  .claude/checkpoints/1755714366.json
  package-lock.json
Owners: @architect-resume-team, @backend-team

chore: Add package-lock.json for CI/CD compatibility
  package-lock.json
Owners: @architect-resume-team, @backend-team

🔖 Checkpoint: Edit /mnt/d/git/tbowman01/architect-resume/package.json
  .claude/checkpoints/task-1755718009.json
  package.json
Owners: @architect-resume-team, @backend-team

🔖 Checkpoint: Edit /mnt/d/git/tbowman01/architect-resume/package.json
  .claude/checkpoints/1755718665.json
  .claude/checkpoints/1755718677.json
  package.json
Owners: @architect-resume-team, @backend-team

🏁 Session end checkpoint: session-20250820-154702
  .claude/checkpoints/1755718694.json
  .claude/checkpoints/1755718707.json
  .claude/checkpoints/summary-session-20250820-154702.md
  package-lock.json
Owners: @architect-resume-team, @backend-team

feat(chatbot): enhance AI responses with comprehensive conversation flow (#10)
  .claude/checkpoints/summary-session-20250816-000649.md
  .claude/checkpoints/task-1755317241.json
  README-old.md
  app/components/Blog.tsx
  app/components/ChatBot.tsx
Owners: @architect-resume-team, @frontend-team

🏁 Session end checkpoint: session-20250820-160656
  .claude/checkpoints/summary-session-20250820-160656.md
  .claude/checkpoints/task-1755719967.json
Owners: @architect-resume-team

🔖 Task checkpoint: {{user_prompt}} ...
  .claude/checkpoints/task-1755720559.json
Owners: @architect-resume-team

fix: Regenerate package-lock.json to resolve CI/CD failures
  package-lock.json
Owners: @architect-resume-team, @backend-team

fix: Generate complete package-lock.json with all dependencies
  package-lock.json
Owners: @architect-resume-team, @backend-team

feat(chatbot): enhance AI responses with comprehensive conversation flow
  .claude/checkpoints/task-1755317241.json
  app/components/Blog.tsx
  app/components/ChatBot.tsx
Owners: @architect-resume-team, @frontend-team

🏁 Session end checkpoint: session-20250816-001134
  .claude/checkpoints/summary-session-20250816-001134.md
Owners: @architect-resume-team

🏁 Session end checkpoint: session-20250816-001335
  .claude/checkpoints/summary-session-20250816-001335.md
  .claude/checkpoints/task-1755317567.json
Owners: @architect-resume-team

🏁 Session end checkpoint: session-20250816-001609
  .claude/checkpoints/summary-session-20250816-001609.md
  .claude/checkpoints/task-1755317680.json
Owners: @architect-resume-team

🏁 Session end checkpoint: session-20250816-001941
  .claude/checkpoints/summary-session-20250816-001941.md
  .claude/checkpoints/task-1755317951.json
Owners: @architect-resume-team

🔖 Task checkpoint: {{user_prompt}} ...
  .hive-mind/config.json
  .hive-mind/hive.db
  .hive-mind/hive.db-shm
  .hive-mind/hive.db-wal
  .hive-mind/memory.db
  .hive-mind/sessions/hive-mind-prompt-swarm-1755984555075-t9qi1vm42.txt
Owners: @architect-resume-team

.github/CODEOWNERS:

# CODEOWNERS file for code review requirements
# Global rule - all files require review
* @architect-resume-team

# GitHub Actions workflows require additional security review
/.github/workflows/ @architect-resume-team @security-team

# Package.json changes require dependency review
/package.json @architect-resume-team @backend-team
/package-lock.json @architect-resume-team @backend-team

# Security-related files
/.github/dependabot.yml @security-team
/.github/CODEOWNERS @admin-team

# Configuration files
/next.config.js @architect-resume-team @devops-team
/tailwind.config.ts @frontend-team
/tsconfig.json @frontend-team

# Documentation requires technical writing review
/docs/ @architect-resume-team @docs-team
/README.md @architect-resume-team @docs-team

# Source code by area
/app/components/ @frontend-team
/app/lib/ @backend-team
/tests/ @qa-team

# Note: Replace team names with actual GitHub usernames or team names
# Example: @username or @org/team-name
